.titulo1{
    background-color: rgb(0, 0, 0);
    color: wheat;;
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}

.titulo2{
    font-family: 'Lobster', cursive;
    color: wheat;
    font-size: 2rem;;
}

.titulo3{
    font-family: 'Teko', sans-serif;
    color: wheat;
    font-size: 2rem;;
}

.contenedor{
    display: flex;
    justify-content: center;
    
}

button{
    background-color: antiquewhite;
    color: gray;
    font-size: 20px;
}

table{
    width:"50%";
    border:"1" ;
    border-color:"orange";
}

body{
    background-image: url("https://images5.alphacoders.com/114/1141439.jpg");
    background-size: cover;
}

.table th{
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: antiquewhite;
}

.table td{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}

caption{
    font-family: 'Anton', sans-serif;
}

.titulo{
    font-size: 40px;
    color: antiquewhite;
}

.boy{
    background-image:url("https://media.tenor.com/2Ylu0fHWuboAAAAC/tequila-shots.gif");
    background-size: 100%;
}

.table td:hover{
    color:gray;
    background-color: antiquewhite;
}

.table th:hover{
    color:gray;
    background-color: antiquewhite;
}